body{
    background-color: black;
}

.box6{
    height: 300px;
    /*width: 1500px;*/
    background-color: white;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.box7{
    height: 400px;
    width: 350px;
    background-color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s ;
}

.box7:hover{
    background-image: url(https://i.pinimg.com/236x/6f/14/12/6f1412ec992aab070b379f068894a16a.jpg);
    height: 300px;
    width: 300px;
    background-repeat: round;
    transition: 2s;
}

.box8{
    height: 400px;
    width: 350px;
    background-color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.box8:hover{
    background-image: url(https://i.pinimg.com/236x/16/29/46/16294613101d92307bd4c17d896de1cd.jpg);
    height: 300px;
    width: 300px;
    background-repeat: round;
    transition: 2s;
}

.box9{
    height: 400px;
    width: 350px;
    background-color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.box9:hover{
    background-image: url(https://i.pinimg.com/236x/60/3f/7c/603f7cfeb24ffd035b3eefffd132aba0.jpg);
    height: 300px;
    width: 300px;
    background-repeat: round;
    transition: 2s;
}

.box10{
    height: 450px;
    /*width: 1500px;*/
    background-color: white;
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}