.red{
    height: 100px;
    width: 100px;
    background-color: red;
}

.flex{
    width: 100%;
    height: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}

.red:hover{
    border-radius: 50%;
    transition: 1s;
    background-color: gray;
}